doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title БП рогалик

        script(src='/_build/js_min/libs.js')
        script(src='/_build/js-templates/base.js')
        script(src='/_build/js/base.js')

        link(rel='stylesheet' href='/lib/normalize.css')
        link(rel='stylesheet' href='/_build/css/base.css')

    body
        script.
            new Base()
